div.all{
    width: 1280px;
    height: 900px; 
    position:relative;
    top:0;
    left:0;
    color: #4477bb;
    border: 1px solid #4477bb;
    margin: 0 auto;
}

div.roof{
    height: 60px;
    border-bottom:1px solid #4477bb;
    margin: 0;
    padding: 0;
}

div.EPSsw{
    float: left;
}

.EPS{
    margin-left: 30px;
}

.out {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

.input {
    color: #4477bb;
    border: 1px solid #4477bb;    
}

p.cms {
    font-size: 120%;
    position: absolute;
    margin-top: 30px; 
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.basement{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1200px;
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #4477bb;
}

div.name {
	color: black;
    margin-top: 20px;
    margin-bottom: 5px;
    font: 80% sans-serif;
    text-align: center;
}

div.single_schedule {
    width: 1100px;
    height: 200px;
    margin: 5px auto; 
    color: black;
    border:1px solid #4477bb;
}

div.menu {
    height: 20px;
    padding: 0px;
    border-bottom: 1px solid;
}

div.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 595px;
}

div.menu ul li {
	display: inline;
	padding: 0;
}

div.menu ul li a {
	font: 80% sans-serif; 
	line-height: 0%;
	padding: 0;
	padding-left:20px;
}

A{
    color: #4477bb;
}

A:visited {
    color: #4477bb;
}

A:active {
    color: #4477bb;
}